body {
    background: rgb(9, 27, 48);
    background: radial-gradient(circle, rgba(9, 27, 48, 1) 0%, rgba(8, 8, 8, 1) 100%);
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

}

.container-account {
    border: 1px solid white;
    border-radius: 1rem;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #FFF
}

.container-data {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 15px;
    background: #151515;
}

.container-wallet {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 15px;
    background: #151515;
    height: 300px;
    overflow-y: auto;
}

.container-transactions {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 15px;
    background: #151515;
    height: 300px;
    overflow-y: auto;
}

.item-asset {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    padding: 10px;
}

.item-transaction {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
}