body {
    background-color: #FFF;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container-chart {
    border-radius: 1rem;
    width: 640px;
    height: 280px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: black;
    align-items: center;
    justify-content: center;
}

.app-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 550px;
    width: 700px;
    background-color: rgba(21, 21, 21, .5);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 40px;

}


.chartData {
    color: #FFF;
    display: flex;
}

.chart-icon-data {
    background-color: #2A2A2A;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.chart-item-data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.value-data {
    font-size: 30px;
}

.container-header-data {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.container-header-options {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title-header-options {
    color: #FFF;
    font-size: 25px;
}

.container-header-options-bottom {
    display: flex;
    margin-top: 10px;


    justify-content: space-between;
}

.button-asset {
    background-color: #000000d0;
    border-radius: 20px;
    width: 125px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;


}

.button-asset:hover {
    background-color: #2A2A2A;
    transition: 1s;
}

.icon-asset-btn {
    width: 25px;
    height: 25px;
    background-color: #B9B9B9;
    border-radius: 50%;


}

.name-asset-btn {
    color: #FFF;
    font-size: 13px;
}

.select-asset-btn {
    color: #FFF;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.type-chart {
    width: 40px;
    height: 35px;
    border-radius: 10px;
    margin-left: 20px;
    cursor: pointer;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.type-chart:hover {
    background-color: #2A2A2A;
    transition: 1s;
}


.container-header-options-bottom-left {
    display: flex;
    align-items: center;
}

.btn-time-chart {
    width: 30px;
    height: 25px;
    background-color: #2A2A2A;
    border-radius: 7px;
    margin-left: 5px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    cursor: pointer;
    letter-spacing: 2px;
}


.btn-time-chart:hover {
    background: #FFF;
    color: #2A2A2A;
    transition: 1s;
}

.container-header-options-bottom-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-dashboard {
    width: 72vw;
    height: 95vh;
    display: flex;
    padding-top: 50px;
    background: rgb(9, 27, 48);
    background: radial-gradient(circle, rgba(11, 42, 75, 1) 0%, rgba(8, 8, 8, 1) 100%);
}

.container-dashboard-left {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
}



.container-title-menubar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    text-transform: uppercase;
    letter-spacing: 35px;
}

.title-menubar {
    color: #EAECEF;
    text-align: center;
    align-items: center;
    margin-left: 30px;
    font-size: 15px;
}

.container-menubar-buttons {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;


}

.button-menubar {
    display: flex;
    color: #EAECEF;
    align-items: center;
    height: 60px;
    width: 85%;
    border-radius: 1rem;
    margin-bottom: 7px;
    font-weight: 300;
    cursor: pointer;
}

.button-menubar:hover {
    background-color: #006BFA;
    transition: .5s;
}


.icon-button-menubar {
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-button-menubar {
    font-size: 1.3rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.container-menubar-buttons-top {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.container-menubar-buttons-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 30px;

}

.link-button-menubar {
    text-decoration: none;
    background-color: transparent;
    color: #EAECEF;
    width: 100%;
    height: 100%;
    display: flex;
}

.container-dashboard-right {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;
    padding-right: 40px;
}

.container-dashboard-right-top {
    height: 7%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.container-dashboard-right-middle {
    height: 65%;
    display: flex;
    justify-content: space-between;

}

.container-dashboard-right-bottom {

    width: 97%;
    background-color: rgba(21, 21, 21, .5);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 20px;
    color: #EAECEF;
    font-size: 1.2rem;
    height: 80%;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

}

.container-dashboard-right-middle {
    display: flex;

}

.menu-wallet {
    width: 25%;
    background-color: rgba(21, 21, 21, .5);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 20px;
    color: #EAECEF;
    font-size: 1.2rem;
}

.container-title-menu-wallet {
    display: flex;
    align-items: center;
    font-weight: 300;
    margin-bottom: 20px;
}

.container-assets-wallet {
    height: 83%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: none;
}

.item-asset-wallet {
    color: #EAECEF;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.item-asset-wallet:hover {
    background-color: #041a31;
    transition: .5s;
}

.item-asset-wallet-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-asset-wallet-top-left {
    width: 60%;
    height: 40px;
    display: flex;
    align-items: center;
}

.icon-asset-item {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.percent-asset-item {
    font-size: 15px;
}

.item-asset-wallet-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
}

.btn-view-all {
    width: 60%;
    height: 100%;
    background-color: #2A2A2A;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
}

.btn-view-all:hover {
    background-color: #006BFA;
    transition: .5s;
}

.container-dashboard-right-top-left {
    display: flex;
    color: #EAECEF;
    font-size: 1.5rem;
}

.container-dashboard-right-top-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    color: #EAECEF;
    font-size: 1.5rem;
    font-weight: 300;

}

.icon-notification-header {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-notification-header:hover {
    color: #006BFA;
    transition: .5s;
}

.avatar-header-user {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.text-name-user:hover {
    cursor: pointer;
    color: #006BFA;
    transition: .5s;
}



.label-active-trades {
    font-weight: 300;
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
}

.title-active-trades {
    font-weight: 300;
    margin-bottom: 50px;
}

.container-dashboard-right-bottom-middle {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.table-actives-trades {
    width: 100%;
    margin-top: 10px;
}


.icon-active-trades {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-active-trades {
    background-color: #2A2A2A;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;



}

.btn-active-trades:hover {
    transition: .5s;
    background-color: #006BFA;
}

.label-column-active-trades {
    font-weight: 300;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
}

.label-name-active-trades {
    width: 25%;
    text-align: start;
}

.label-row-name {
    text-align: start;
}

.container-btn-active-trade {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;


}

.show-more {
    overflow-y: auto;
    overflow-x: hidden;

}

/* #181A20 */