body {
    background-color: #FFF;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100vh;

}

.container-chart {
    border-radius: 1rem;
    width: 640px;
    height: 280px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: black;
    align-items: center;
    justify-content: center;
}

.app-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 520px;
    width: 700px;
    background-color: rgba(24, 26, 32, .8);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 40px;

}


.chartData {
    color: #FFF;
    display: flex;
}

.chart-icon-data {
    background-color: #2A2A2A;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.chart-item-data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.value-data {
    font-size: 30px;
}

.container-header-data {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.container-header-options {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title-header-options {
    color: #FFF;
    font-size: 25px;
}

.container-header-options-bottom {
    display: flex;
    margin-top: 10px;


    justify-content: space-between;
}

.button-asset {
    background-color: #000000d0;
    border-radius: 20px;
    width: 125px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;


}

.button-asset:hover {
    background-color: #2A2A2A;
    transition: 1s;
}

.icon-asset-btn {
    width: 25px;
    height: 25px;
    background-color: #B9B9B9;
    border-radius: 50%;


}

.name-asset-btn {
    color: #FFF;
    font-size: 13px;
}

.select-asset-btn {
    color: #FFF;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.type-chart {
    width: 40px;
    height: 35px;
    border-radius: 10px;
    margin-left: 20px;
    cursor: pointer;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.type-chart:hover {
    background-color: #2A2A2A;
    transition: 1s;
}


.container-header-options-bottom-left {
    display: flex;
    align-items: center;
}

.btn-time-chart {
    width: 30px;
    height: 25px;
    background-color: #2A2A2A;
    border-radius: 7px;
    margin-left: 5px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    cursor: pointer;
    letter-spacing: 2px;
}


.btn-time-chart:hover {
    background: #FFF;
    color: #2A2A2A;
    transition: 1s;
}

.container-header-options-bottom-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.app-dashboard {
       height: 100%;
}



.container-dashboard {
    width: 79vw;
    height: 100%;
    display: flex;
    background: radial-gradient(circle, rgba(11, 42, 75, 1) 0%, rgba(8, 8, 8, 1) 100%);
}

.container-dashboard-left {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
}



.container-title-menubar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    text-transform: uppercase;
    letter-spacing: 35px;
}

.title-menubar {
    color: #EAECEF;
    text-align: center;
    align-items: center;
    margin-left: 30px;
    font-size: 15px;
}

.container-menubar-buttons {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;


}

.button-menubar {
    display: flex;
    color: #EAECEF;
    align-items: center;
    height: 60px;
    width: 85%;
    border-radius: 1rem;
    margin-bottom: 7px;
    font-weight: 300;
    cursor: pointer;
}

.button-menubar:hover {
    background-color: #006BFA;
    transition: .5s;
}


.icon-button-menubar {
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-button-menubar {
    font-size: 1.3rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.container-menubar-buttons-top {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.container-menubar-buttons-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 30px;

}

.link-button-menubar {
    text-decoration: none;
    background-color: transparent;
    color: #EAECEF;
    width: 100%;
    height: 100%;
    display: flex;
}

.container-dashboard-right {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;
    padding-right: 40px;
    position: relative;
}

.container-dashboard-right-top {
    height: 7%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.container-dashboard-right-middle {
    height: 65%;
    display: flex;
    justify-content: space-between;

}

.container-dashboard-right-bottom {

    width: 97%;
    background-color: rgba(24, 26, 32, .8);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 20px;
    color: #EAECEF;
    font-size: 1.2rem;
    height: 80%;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

}

.container-dashboard-right-middle {
    display: flex;

}

.menu-wallet {
    width: 25%;
    background-color: rgba(24, 26, 32, .8);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 20px;
    color: #EAECEF;
    font-size: 1.2rem;
}

.container-title-menu-wallet {
    display: flex;
    align-items: center;
    font-weight: 300;

}

.container-assets-wallet {
    height: 83%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: none;
}

.item-asset-wallet {
    color: #EAECEF;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.item-asset-wallet:hover {
    background-color: #041a31;
    transition: .5s;
}

.item-asset-wallet-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-asset-wallet-top-left {
    width: 60%;
    height: 40px;
    display: flex;
    align-items: center;
}

.icon-asset-item {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.percent-asset-item {
    font-size: 15px;
}

.item-asset-wallet-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
}

.btn-view-all {
    width: 60%;
    height: 100%;
    background-color: #2A2A2A;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 35px;
}

.btn-view-all:hover {
    background-color: #006BFA;
    transition: .5s;
}

.container-dashboard-right-top-left {
    display: flex;
    color: #EAECEF;
    font-size: 1.5rem;
}

.container-dashboard-right-top-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    color: #EAECEF;
    font-size: 1.5rem;
    font-weight: 300;

}

.icon-notification-header {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-notification-header:hover {
    color: #006BFA;
    transition: .5s;
}

.avatar-header-user {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.text-name-user:hover {
    cursor: pointer;
    color: #006BFA;
    transition: .5s;
}



.label-active-trades {
    font-weight: 300;
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
}

.title-active-trades {
    font-weight: 300;
    margin-bottom: 50px;
}

.container-dashboard-right-bottom-middle {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.table-actives-trades {
    width: 100%;
    margin-top: 10px;
}


.icon-active-trades {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-active-trades {
    background-color: #2A2A2A;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;



}

.btn-active-trades:hover {
    transition: .5s;
    background-color: #006BFA;
}

.label-column-active-trades {
    font-weight: 300;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
}

.label-name-active-trades {
    width: 25%;
    text-align: start;
}

.label-row-name {
    text-align: start;
}

.container-btn-active-trade {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;


}

.show-more {
    overflow-y: auto;
    overflow-x: hidden;

}

.value-asset-item {
    font-weight: 200;
}

.title-asset-item {
    font-weight: 300;
    font-size: 1rem;
}

.quantity-asset-item {
    font-size: 1rem;
}

.container-balance-visible {
    display: flex;
    width: 28%;
    justify-content: space-between;
}

.icon-visible-balance {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.text-balance {
    font-size: 17px;
}

.container-trades {

    width: 97%;
    background-color: rgba(24, 26, 32, .8);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 20px;
    color: #EAECEF;
    font-size: 1.2rem;
    height: 80%;
    display: flex;
    flex-direction: column;

}

.container-dashboard-trades {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    padding-right: 40px;
}

.container-table-assets-trade {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
}

.container-btn-showmore-trade {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn-showmore-trade {
    width: 200px;
    height: 40px;
    background-color: #2A2A2A;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;

}

.btn-showmore-trade:hover {
    background-color: #006BFA;
    transition: .5s;
}

.table-trades {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}



.btn-trades {
    width: 120px;
    height: 25px;
    background-color: #2A2A2A;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.btn-trades:hover {
    background-color: #006BFA;
    transition: .5s;
}

.btn-toogle-trade {
    cursor: pointer;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-toogle-trade:hover {
    color: #006BFA;
    transition: .5s;
}

.container-table-trade-assets {
    overflow-y: auto;
    display: flex;
    justify-content: center;
    height: 90%;

}

.container-table-old-trades {
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 90%;
}

.label-column-old-trades {
    font-weight: 300;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
}

.label-cell-old-trades {
    text-align: center;
    font-size: 12px;
    font-weight: 400;

}


.container-order {
    width: 400px;
    height: 600px;
    background-color: rgba(24, 26, 32, .95);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    transition: opacity 0.5s ease;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.effect-disable {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 98;
    display: none;
}

.container-order.active {
    display: flex;
}

.container-order.active+.effect-disable {
    display: flex;
}

.container-order.hidden+.effect-disable {
    display: none;

}

.btn-purchase {
    color: #EAECEF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-purchase:hover {
    background: #EAECEF;
    color: #2A2A2A;
    transition: 1s;
}

.title-container-order {
    color: #EAECEF;
    letter-spacing: 2px;
    font-size: 1.5rem;

}

.container-side-order {
    display: flex;
    justify-content: center;
    color: #EAECEF;
    padding-top: 10px;
}

.container-side-buy,
.container-side-sell {
    color: #EAECEF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    border-radius: 10px;
    cursor: pointer;
}

.container-side-buy:hover,
.container-side-sell:hover {
    transform: scale(1.05);
    transition: 1s;
}

.container-side-sell {
    margin-left: 20px;
}

.btn-order-buy {
    margin-left: 10px;
}

.btn-order-sell {
    margin-left: 10px;
}

.container-side-buy {
    background-color: #56BC7C;
    height: 30px;
}

.container-side-sell {
    background-color: #E55764;
}

.asset-container-order {
    color: #EAECEF;
    letter-spacing: 4px;
    font-size: 1.2rem;
}

.container-type-order {
    display: flex;
    color: #EAECEF;
    justify-content: space-around;
    width: 100%;
    font-weight: 300;
}

.type-order {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A2A2A;
    cursor: pointer;
    border: none;
    letter-spacing: 3px;
}

.type-order:hover {
    background-color: #006BFA;
    transition: 1s;
}

.container-inputs-order {
    background-color: #b9b9b99d;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: start;

}

.input-order {
    background-color: transparent;
    border: none;
    width: 300px;
    padding-left: 10px;
    color: #2A2A2A;

}

.label-input {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #2A2A2A;
    font-weight: 400;
    padding-left: 10px;
}

.container-buttons-order {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn-type-order,
.btn-order-cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #2A2A2A;
    border-radius: 10px;
    cursor: pointer;
    color: #EAECEF;
    letter-spacing: 2px;
}

.btn-type-order {
    margin-bottom: 15px;
}

.btn-type-order:hover,
.btn-order-cancel:hover {
    background-color: #006BFA;
    transition: 1s;
}

.text-btn-cancel-order {
    margin-left: 10px;
}

.footer-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.btn-showmore {
    width: 200px;
    height: 25px;
    background-color: #2A2A2A;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    color: #EAECEF;

}

.btn-showmore:hover {
    background-color: #006BFA;
    transition: .5s;
}

.container-dashboard-right-bottom-top {
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.conteiner-line-config {
    display: flex;
    padding: 0px 60px 0 60px;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 200;
}

.btn-config {
    width: 200px;
    height: 25px;
    background-color: #2A2A2A;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    color: #EAECEF;

}

.btn-config:hover {
    background-color: #006BFA;
    transition: .5s;
}

.btn-cancel-order {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.btn-cancel-order:hover {
    transition: .5s;
    color: #E55764;

}


.container-input-grid {
    width: 400px;
    height: 600px;
    background-color: rgba(24, 26, 32, .95);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    transition: opacity 0.5s ease;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.effect-disable {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 98;
    display: none;
}

.container-input-grid.active {
    display: flex;
}

.container-input-grid.active+.effect-disable {
    display: flex;
}

.container-input-grid.hidden+.effect-disable {
    display: none;

}

.title-config-trade {
    color: #EAECEF;
    font-size: 1.5rem;
}

.asset-config-trade {
    color: #EAECEF;
    letter-spacing: 3px;
    font-size: 1.2rem;

}



.row-form-grid {
    display: flex;
    width: 100%;
}

.row-input-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.input-grid {

    background-color: #b9b9b99d;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 25px;
    text-align: center;
    color: #2A2A2A;
    font-size: 1rem;

}

.label-grid {
    width: 100%;
}

.btn-grid-order {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #2A2A2A;
    border-radius: 10px;
    cursor: pointer;
    color: #EAECEF;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.btn-grid-order:hover {
    transition: .5s;
    background-color: #006BFA;
}

.container-login {
    display: flex;
    align-items: center;
    justify-content: center;

}

.section-login-elements {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.login-title {
    font-size: 1.5rem;
    color: #EAECEF;
    width: 100%;
    letter-spacing: 30px;
    margin-bottom: 20px;
}

.login-description {
    color: #EAECEF;
    font-size: .7rem;
    font-weight: 300;
    letter-spacing: 1px;
    width: 100%;

}

.login-user {
    width: 100%;
    height: 35px;
    border: .2px solid rgba(255, 255, 255, .5);
    display: flex;
    align-items: center;
    border-radius: 7px;

}

.login-user-text {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 80%;
    margin-left: 10px;
    color: rgba(255, 255, 255, .5);
}

.login-user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    color: rgba(255, 255, 255, .5);
    margin-left: 10px;
}

.login-select-account {
    background-color: #374151;
    width: 100%;
    display: flex;
    align-items: center;
    height: 35px;
    border-radius: 7px;
    color: #9CA3AF;
    cursor: pointer;
}

.login-select-account:hover {
    transition: .5s;
    background-color: #006BFA;

}


.login-select-account-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    margin-left: 10px;
}

.login-select-account-description {
    border: none;
    height: 100%;
    width: 80%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: .75rem;
}

.login-btn {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.login-btn-createacc {
    font-size: .75rem;
    color: #9CA3AF;
    font-weight: 300;
}

.login-btn-createacc:hover {
    transition: .5s;
    color: #006BFA;
}

.login-btn-acess {
    height: 100%;
    width: 90px;
    background-color: #006BFA;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    color: #EAECEF;
    cursor: pointer;
}

.login-btn-acess:hover {
    transition: .5s;
    background-color: #9CA3AF;
    color: #374151;


}

.container-register-elements {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
    margin-top: 100px;
}

.section-register-elements {
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.register-title {
    font-size: 1.5rem;
    color: #EAECEF;
    width: 100%;
    letter-spacing: 30px;
    margin-bottom: 20px;
}

.register-description {
    color: #EAECEF;
    font-size: .7rem;
    font-weight: 300;
    letter-spacing: 1px;
    width: 100%;
    margin-bottom: 5px;
    

}

.register-user {
    width: 100%;
    height: 35px;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 7px;
    background: #374151;


}

.register-user-text {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 80%;
    margin-left: 10px;
    color: rgba(255, 255, 255, .5);
}

.register-user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    color: rgba(255, 255, 255, .5);
    margin-left: 10px;
}

.register-select-account {
    background-color: #374151;
    width: 100%;
    display: flex;
    align-items: center;
    height: 35px;
    border-radius: 7px;
    color: #9CA3AF;
    cursor: pointer;
}

.register-select-account:hover {
    transition: .5s;
    background-color: #006BFA;

}


.register-select-account-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    margin-left: 10px;
}

.register-select-account-description {
    border: none;
    height: 100%;
    width: 80%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: .75rem;
}

.register-btn {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 30px;
}

.register-btn-createacc {
    font-size: .75rem;
    color: #9CA3AF;
    font-weight: 300;
}

.register-btn-createacc:hover {
    transition: .5s;
    color: #006BFA;
}

.register-btn-acess {
    height: 100%;
    width: 90px;
    background-color: #006BFA;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    color: #EAECEF;
    cursor: pointer;
}

.register-btn-acess:hover {
    transition: .5s;
    background-color: #9CA3AF;
    color: #374151;
}

.section-sections-register {
    width: 300px;
    height: 500px;
    margin-right: 100px;
}

.section-sections {
    display: flex;
    align-items: center;
}

.section-sections-text {
    display: flex;
    flex-direction: column;
}

.section-sections-circle {
    width: 30px;
    height: 30px;
    background-color: #374151;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9CA3AF;
    margin-right: 15px;

}

.section-sections-text-top {
    color: #EAECEF;
    font-weight: 200;
    font-size: 0.85rem;
}

.section-sections-text-bottom {
    color: #EAECEF;
    font-weight: 100;
    font-size: .75rem;
}

.divisor-sections {
    height: 50px;
    border-left: 1px solid #9CA3AF;
    width: 0;
    margin-left: 15px;

}

.password {
    margin-top: 25px;
}

.confirm-password {
    margin-top: 25px;
}

.section-elements-one {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.description-bottom{
    margin-top: 10px;
}


.section-elements-two{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.btn-section-two{
    display: flex;
    justify-content: end;
}

.input-register{
    display: flex;
    background-color: #374151;
    color: #9CA3AF;
    border-radius: 7px;
    align-items: center;
    padding-left: 10px;
    height: 35px;
    margin-bottom: 15px;

}

.input-register-icon{
    display: flex;
    align-items: center;
    justify-content: center ;
    height: 100%;
}

.input-register-text{
    height: 80%;
    width: 100%;
    background: transparent;
    border: none;
    color: #9CA3AF;
    margin-left: 10px;
}

.form-register-two{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.section-elements-third{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.text-acc-create{
    margin-top: 30px;
}
.description-title-register-third{
    margin-top: 20px;
       margin-bottom: 15px;
}

.section-login-elements-one{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    
}

.section-login-elements-two{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    
}

.login-password {
    width: 100%;
    height: 35px;
    border: .2px solid rgba(255, 255, 255, .5);
    display: flex;
    align-items: center;
    border-radius: 7px;
    background-color: #374151;

}

.login-password-text {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 80%;
    margin-left: 10px;
    color: rgba(255, 255, 255, .5);
}

.login-password-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    color: rgba(255, 255, 255, .5);
    margin-left: 10px;
}

.description-password{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70px;
   }

.description-title-password{
    margin-bottom: 5px;
}

.login-btn-section-two{
    margin-bottom: 50px;
}

.text-welcome-login{
    margin-bottom: 10px;
}

.btn-back-login{
    cursor: pointer;
   text-decoration: underline;
   text-decoration-color: #9CA3AF;
}

.btn-back-login:hover{
    text-decoration-color:#006BFA ;
    transition: .5s;
}

.alert-log-register{
    font-size: .8rem;
    color: #E55764;
}

.close{
    display: none;
}

.register-btn-acess-form-two{
    border: none;
}

.btn-section-three{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #9CA3AF;
}

.btn-section-three:hover{
    text-decoration-color:#006BFA ;
    transition: .5s;
    color: #006BFA;
}





/* #181A20 */